[user]
	name = Ivan Talakhovskyy
	email = ivan.talakhovskyy@gmail.com
[core]
        autocrlf = false
[diff]
	tool = opendiff
[merge]
	tool = opendiff
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[push]
	default = simple
[alias]
	squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
